body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: #ffffff;
	font-family: Arial, sans-serif;
}

.container {
	text-align: center;
	padding: 0 20px;
}

#ccj-word {
	font-size: 25rem;
	font-weight: bold;
}

#info-screen, #ready-screen {
	max-width: 600px;
}

#info-screen h1, #ready-screen h1 {
	font-size: 2.5rem;
}

#info-screen p, #ready-screen p {
	font-size: 1.2rem;
}